*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}