{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <h1 class="text-center mt-4">Add Task</h1>
    <form action="" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-success mt-2 button">Create</button>
</form>
</div>

{% endblock %}
{% block js %}
<script>

let cleave = new Cleave('.input-element', {
    date: true,
    delimiter: '-',
    datePattern: ['Y', 'm', 'd']
});


</script>
{% endblock %}