<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="d-flex align-items-center gap-4">
        <h1 class="navbar-brand">{{user.username|capfirst}}</h1>
    </div>
    <div class="navbar-nav d-flex flex-row gap-3">
        <a href="{% url 'consumer:logout' %}" class="btn btn-danger">Logout</a>
        <a href="{% url 'consumer:create_task' %}" class="btn btn-primary">Add Task</a>
    </div>
  </div>
</nav>